SECRET_KEY=qUoEmYkSWlrJkUhcFvZHMDcgAqpGSeeUOtJIOnIaNmlRdzzUUm
ENVIRONMENT=DEV
ACCESS_TOKEN_EXPIRE_MINUTES=11520
REFRESH_TOKEN_EXPIRE_MINUTES=40320
BACKEND_CORS_ORIGINS=["http://localhost:3000","http://localhost:8001"]
ALLOWED_HOSTS=["localhost", "127.0.0.1"]

DEFAULT_DATABASE_HOSTNAME=localhost
DEFAULT_DATABASE_USER=postgres
DEFAULT_DATABASE_PASSWORD=ChangeMe
DEFAULT_DATABASE_PORT=5434
DEFAULT_DATABASE_DB=postgres

TEST_DATABASE_HOSTNAME=localhost
TEST_DATABASE_USER=postgres
TEST_DATABASE_PASSWORD=ChangeMe
TEST_DATABASE_PORT=5435
TEST_DATABASE_DB=postgres
